Since u have GEE_ET available from 20212, so when u do inner merge on ET
u will have lower lenght (89), outer join will return more.

Although irrigation has higher variance but after scaling both yield and irrigation variance are very close.
so, weighting using inverse variance won't give extra importance to yield. maybe u can try scaling variables
before taking residual.

So we are manually giving weight. (60/40) or (50,30,20)

In [1]:
# if magnitude is different for a set (actual vs observed) then scale it before taking residual.
#we are still using variance weighing, if it doen't work just go for .6 and .4
import numpy as np
import pandas as pd
import time
from Aq_Optimization_functons import *
import warnings
warnings.filterwarnings("ignore")

%load_ext autoreload
%autoreload 2

/Users/m089r172/anaconda3/envs/aqua/lib/python3.8/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [82]:

# # Example DataFrame
# np.random.seed(42)  # For reproducibility
# data = {
#     "Reported_Irrigation": np.random.uniform(200, 400, 100),
#     "Simulated_Irrigation": np.random.uniform(200, 400, 100),
#     "Reported_Yield": np.random.uniform(2, 14, 100),
#     "Simulated_Yield": np.random.uniform(1, 14, 100),
# }

# df = pd.DataFrame(data)
# df

In [2]:

# to use full data without ET just comment out the data splitting line in the background and full_data =False, no_ET = True,Tran =true
# full data with ET , F=true, no_ET = False, train =False

start_time = time.time()

test_df, all_yld_df, simul_reported   = for_objf (smt =[30, 51.6, 60, 30],CCx = 0.9489, WP = 33.69, Kcb =1,
                            HI0 = 0.55, a_HI = .5, Zmax = 2.48,no_et = True,train =True)

simul_reported.rename(columns={"Seasonal irrigation (mm)": "Simulated_Irrigation", "Yield (tonne/ha)": "Simulated_Yield"}, inplace =True)
# simul_reported

end_time = time.time()

# Calculate the time taken
elapsed_time = end_time - start_time
print(f"Elapsed time: {elapsed_time:.2f} seconds")

100 prcnt_without_ET: 127
train_len_no_ET: 88
Elapsed time: 23.00 seconds

In [4]:
df = simul_reported
df          # df[df["FieldID"]== "NW1"]

,Year,FieldID,cropType,Reported_Irrigation_x,Reported_Irrigation_y,Reported_Irrigation,Reported_Yield,Season,crop Type,Harvest Date (YYYY/MM/DD),Harvest Date (Step),Simulated_Yield,Simulated_Irrigation
47,2020,WC19,Corn,516.890000,NaN,516.890000,NaN,14,MaizeGDD,2020-09-27,5382,13.128236,536.70200
64,2018,WC20,Corn,599.440000,NaN,599.440000,NaN,12,MaizeGDD,2018-09-17,4641,13.434450,336.00000
105,2020,NW2,Corn,407.117048,407.117048,407.117048,11.659318,14,MaizeGDD,2020-09-23,5378,13.258255,372.00000
30,2015,NW4,Corn,NaN,331.420370,331.420370,14.165765,9,MaizeGDD,2015-09-23,3551,13.819641,288.00000
83,2011,NB1,Corn,NaN,NaN,NaN,10.431313,5,MaizeGDD,2011-09-20,2087,11.490908,348.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,2010,NW4,Corn,NaN,NaN,NaN,10.871135,4,MaizeGDD,2010-09-20,1722,13.100363,336.00000
14,2021,NW1,Corn,366.544504,366.544504,366.544504,11.608880,15,MaizeGDD,2021-09-17,5737,12.998778,453.65857
92,2019,WC9,Corn,388.874000,NaN,388.874000,NaN,13,MaizeGDD,2019-09-24,5013,13.983352,204.00000
51,2020,NW1,Corn,453.658570,453.658570,453.658570,12.444138,14,MaizeGDD,2020-09-24,5379,12.984554,360.00000
102,2018,NW3,Corn,402.263369,402.263369,402.263369,14.169128,12,MaizeGDD,2018-09-18,4642,13.392727,288.00000

In [5]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df, test_size=0.30, random_state=42)


train_df

,Year,FieldID,cropType,Reported_Irrigation_x,Reported_Irrigation_y,Reported_Irrigation,Reported_Yield,Season,crop Type,Harvest Date (YYYY/MM/DD),Harvest Date (Step),Simulated_Yield,Simulated_Irrigation
117,2010,NW1,Corn,NaN,NaN,NaN,10.014357,4,MaizeGDD,2010-09-20,1722,12.754504,336.000000
13,2019,WC2,Corn,283.718000,NaN,283.718000,NaN,13,MaizeGDD,2019-09-25,5014,14.038114,192.000000
38,2018,WC19,Corn,466.090000,NaN,466.090000,NaN,12,MaizeGDD,2018-09-17,4641,13.623999,240.000000
46,2016,NW2,Corn,257.708948,257.708948,257.708948,12.058789,10,MaizeGDD,2016-09-22,3916,13.738905,180.000000
85,2017,WC6,Corn,403.098000,NaN,403.098000,NaN,11,MaizeGDD,2017-10-02,4291,13.846026,264.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,2010,NW5,Corn,NaN,NaN,NaN,10.427278,4,MaizeGDD,2010-09-20,1722,13.100363,336.000000
119,2021,WC20,Corn,711.454000,NaN,711.454000,NaN,15,MaizeGDD,2021-09-20,5740,13.127954,420.000000
23,2013,NW4,Corn,NaN,NaN,NaN,11.820720,7,MaizeGDD,2013-09-06,2804,6.203253,433.966466
53,2014,NW4,Corn,NaN,NaN,NaN,13.311677,8,MaizeGDD,2014-09-27,3190,13.817709,384.000000
41,2021,NC2,Corn,194.818000,194.564000,194.818000,18.527670,15,MaizeGDD,2021-09-04,5724,13.118417,96.000000

In [8]:
# Step 1: Calculate residuals
df["Irrigation_Residual"] = (df["Reported_Irrigation"] - df["Simulated_Irrigation"]).abs()
df["Yield_Residual"] = (df["Reported_Yield"] - df["Simulated_Yield"]).abs()
df["ET_Residual"]    =  (df['Ensemble_ET'] - df['ET_aqua']).abs()


# Step 2: Normalize residuals using Min-Max scaling
def min_max_scaling(series):
    return (series - series.min()) / (series.max() - series.min())

df["Normalized_Irrigation_Residual"] = min_max_scaling(df["Irrigation_Residual"])
df["Normalized_Yield_Residual"] = min_max_scaling(df["Yield_Residual"])
df["Normalized_ET_Residual"] = min_max_scaling(df["ET_Residual"])
# Step 3: Calculate inverse variance weights (if we use just raw residual then variance seems
#too high for irrigation compared to yield, probably because of their different scale and high diference 
#inthe case of irrigation)

# var_irrigation = np.var(df["Irrigation_Residual"], ddof=1)
# var_yield = np.var(df["Yield_Residual"], ddof=1)

# using normalized var ( works the best)
var_irrigation = np.var(df["Normalized_Irrigation_Residual"] , ddof=1)
var_yield = np.var(df["Normalized_Yield_Residual"], ddof=1)


weight_irrigation = 1 / var_irrigation
weight_yield = 1 / var_yield

# Step 4: Compute the weighted mean of normalized residuals
mean_normalized_irrigation_residual = df["Normalized_Irrigation_Residual"].mean()
mean_normalized_yield_residual = df["Normalized_Yield_Residual"].mean()

# Objective function
objective_function = (
    weight_irrigation * mean_normalized_irrigation_residual +
    weight_yield * mean_normalized_yield_residual
)

# Output results
print("Weight (Irrigation):", weight_irrigation)
print("Weight (Yield):", weight_yield)
print(" Irrigation contribution:",weight_irrigation * mean_normalized_irrigation_residual)
print("Yield contribution:",  weight_yield *mean_normalized_yield_residual)
print("Objective Function Value:", objective_function)
print("Manual weight (60/40):",4 * mean_normalized_irrigation_residual+6 *mean_normalized_yield_residual )

KeyError: 'Ensemble_ET'

Although irrigation has higher variance but after scaling both yield and irrigation variance are very close.
so, weighting using inverse variance won't give extra importance to yield. maybe u can try scaling variables
before taking residual.

So we are manually giving weight. (60/40) or (50,30,20)

# Manual weight

In [24]:
df

,Year,FieldID,cropType,Reported_Irrigation_x,Reported_Irrigation_y,Reported_Irrigation,Reported_Yield,Season,crop Type,Harvest Date (YYYY/MM/DD),Harvest Date (Step),Simulated_Yield,Simulated_Irrigation,Irrigation_Residual,Yield_Residual,Normalized_Irrigation_Residual,Normalized_Yield_Residual
0,2020,WC22,Corn,281.686000,NaN,281.686000,NaN,14,MaizeGDD,2020-09-27,5382,2.143567,299.974000,18.288000,NaN,0.038108,NaN
1,2021,NC1,Corn,214.122000,214.122000,214.122000,17.357501,15,MaizeGDD,2021-09-04,5724,13.169118,96.000000,118.122000,4.188383,0.246137,0.337160
2,2022,NC1,Corn,186.182000,186.436000,186.182000,15.976164,16,MaizeGDD,2022-08-31,6085,12.143606,214.122000,27.940000,3.832558,0.058220,0.308508
3,2017,NW1,Corn,289.394254,289.394254,289.394254,8.164280,11,MaizeGDD,2017-10-01,4290,13.567493,156.000000,133.394254,5.403213,0.277960,0.434982
4,2010,NW2,Corn,NaN,NaN,NaN,12.111245,4,MaizeGDD,2010-09-20,1722,13.100363,336.000000,NaN,0.989118,NaN,0.079545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,2020,WC8,Corn,544.068000,NaN,544.068000,NaN,14,MaizeGDD,2020-09-26,5381,13.164084,544.068000,0.000000,NaN,0.000000,NaN
123,2012,NW4,Corn,NaN,NaN,NaN,9.220122,6,MaizeGDD,2012-09-11,2444,6.448438,433.966466,NaN,2.771684,NaN,0.223083
124,2009,NW3,Corn,NaN,NaN,NaN,12.074257,3,MaizeGDD,2009-10-17,1384,14.655472,156.000000,NaN,2.581215,NaN,0.207746
125,2008,NW5,Corn,NaN,NaN,NaN,12.655979,2,MaizeGDD,2008-09-30,1002,13.072600,360.000000,NaN,0.416622,NaN,0.033446
126,2011,NW2,Corn,NaN,NaN,NaN,10.902071,5,MaizeGDD,2011-09-19,2086,11.142788,300.000000,NaN,0.240717,NaN,0.019281

In [30]:
def obj_test (df, no_ET =True):
    df["Irrigation_Residual"] = (df["Reported_Irrigation"] - df["Simulated_Irrigation"]).abs()
    df["Yield_Residual"] = (df["Reported_Yield"] - df["Simulated_Yield"]).abs()



    # Step 2: Normalize residuals using Min-Max scaling
    def min_max_scaling(series):
        return (series - series.min()) / (series.max() - series.min())

    df["Normalized_Irrigation_Residual"] = min_max_scaling(df["Irrigation_Residual"])
    df["Normalized_Yield_Residual"] = min_max_scaling(df["Yield_Residual"])


    # Step 3: Compute mean of normalized residuals
    mean_normalized_irrigation_residual = df["Normalized_Irrigation_Residual"].mean()
    mean_normalized_yield_residual = df["Normalized_Yield_Residual"].mean()

    if no_ET:
        weight_yield = 6
        weight_irrigation =4


        # Objective function
        fitness = (
            weight_irrigation * mean_normalized_irrigation_residual +
            weight_yield * mean_normalized_yield_residual
        )

        # Output results
        print("Mean Normalized Irrigation Residual:", mean_normalized_irrigation_residual)
        print("Mean Normalized Yield Residual:", mean_normalized_yield_residual)
        print(" Irrigation contribution:",weight_irrigation * mean_normalized_irrigation_residual)
        print("Yield contribution:",  weight_yield *mean_normalized_yield_residual)
        print("Objective Function Value:", fitness)

    else:
        df["ET_Residual"] =  (df['Ensemble_ET'] - df['ET_aqua']).abs()
        df["Normalized_ET_Residual"] = min_max_scaling(df["ET_Residual"])
        mean_normalized_ET_residual = df["Normalized_ET_Residual"].mean()
        
        weight_yield = 5
        weight_irrigation =3
        weight_et  = 2

        # Objective function
        fitness = (
            weight_irrigation * mean_normalized_irrigation_residual +
            weight_yield * mean_normalized_yield_residual +
            weight_et * mean_normalized_ET_residual
        )

        # Output results
        print("Mean Normalized Irrigation Residual:", mean_normalized_irrigation_residual)
        print("Mean Normalized Yield Residual:", mean_normalized_yield_residual)
        print("ET_resid:", mean_normalized_ET_residual)
        print(" Irrigation contribution:",weight_irrigation * mean_normalized_irrigation_residual)
        print("Yield contribution:",  weight_yield *mean_normalized_yield_residual)
        print("ET contribution:",  weight_et * mean_normalized_ET_residual)
        print("Objective Function Value:", fitness)

In [31]:
obj_test(df, no_ET = True )

Mean Normalized Irrigation Residual: 0.21332514093880833
Mean Normalized Yield Residual: 0.19372063546439713
 Irrigation contribution: 0.8533005637552333
Yield contribution: 1.1623238127863829
Objective Function Value: 2.0156243765416164

In [74]:
def obj_func (param, no_ET =True, Train = True):
    
    """
    you can remove any parameter from "for_objf" function
    to avaoid calibration of that parameter. for that lb and up adjustment is necessary.
    """

    smt = [param[0], param[1], param[2], param[3]]
    CCx = param[4]
    WP = param[5] 
    Kcb = param[6]
    HI0 = param[7]
    a_HI = param[8]
    Zmax = param[7]

# , a_HI = a_HI, Zmax = Zmax
    print("smt:", smt)
    print("CCx:", CCx)
    print("WP:",  WP)
    print("Kcb:", Kcb)
    print("HI0:", HI0)
    print("a_HI:", a_HI)
    print("Zmax:",Zmax)
    
    all_ET_df, all_yld_df, simul_reported = for_objf(smt =smt, CCx =CCx, WP = WP, Kcb = Kcb,
                                                     HI0 = HI0, a_HI = a_HI, Zmax = Zmax,
                                                     no_ET = no_ET,Train =Train)
    
    

    simul_reported.rename(columns={"Seasonal irrigation (mm)": "Simulated Irrigation", "Yield (tonne/ha)": "Simulated Yield"}, inplace =True)
    
    Reported_Yield = simul_reported['Reported_Yield']
    Simulated_Yield = simul_reported['Simulated Yield']
    Reported_Irrigation = simul_reported['Reported_Irrigation']
    Simulated_Irrigation = simul_reported['Simulated Irrigation']
    
    yld_res = ((Reported_Yield.values - Simulated_Yield.values) ** 2) 
    irri_res = ((Reported_Irrigation.values - Simulated_Irrigation.values) ** 2) 
    
    yield_var = np.nanvar(Reported_Yield.values - Simulated_Yield.values)
    irrig_var = np.nanvar(Reported_Irrigation - Simulated_Irrigation)
    
    if  no_ET:

        fitness = np.nanmean((yld_res / yield_var)) + np.nanmean ((irri_res / irrig_var))
    if no_ET == False:
        Reported_ET = simul_reported ['ET_aqua']
        Simulated_ET = simul_reported ['Ensemble_ET']
        ET_res = ((Reported_ET.values - Simulated_ET.values) ** 2)
        ET_var = (np.nanvar(Reported_ET.values - Simulated_ET.values))
        print("yld_fit:",np.nanmean((((Reported_Yield.values - Simulated_Yield.values) ** 2) * (1 / yield_var))))
        print ("irri_fit:",np.nanmean((((Reported_Irrigation.values - Simulated_Irrigation.values) ** 2) * (1 / irrig_var))))
        print("ET_fit:",np.nanmean((((Reported_ET.values - Simulated_ET.values) ** 2) * (1/ET_var)))*.55)
        fitness = np.nanmean ((yld_res / yield_var)) + np.nanmean((irri_res / irrig_var)) + np.nanmean((ET_res/ET_var))

        
    print('len:',len(simul_reported))
    ###### obj function (mae)

    print("\033[91m" + "loss:", fitness, "\033[0m")
    print("------------------------")
    
    return fitness